@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../../public/fonts/Geist-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Italic', sans-serif;
  src: url(../../../public/fonts/Geist-Italic-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-geist: 'Geist', sans-serif;
  --font-geist-italic: 'Geist Italic';
}
